### Import Packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

### Create a keyspace called bd23

In [4]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [3]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Create a Inventory table

In [4]:

session.execute("""
CREATE TABLE IF NOT EXISTS bd23.inventory ( 
    SKU INT,
    pname TEXT,
    description TEXT,
    warehouse_num INT,
    PRIMARY KEY(SKU)
);
""")

### Load Data

In [5]:
df=pd.read_csv("inventory.csv")
df

,SKU,pname,description,warehouse_num
0,1,'Smartphone','High-end smartphone with 6.2-inch display',123
1,2,'Laptop','Powerful laptop with Intel Core i7 processor',456
2,3,'Tablet','Lightweight tablet with long battery life',123
3,4,'Headphones','Wireless headphones with noise-cancellation',789
4,5,'Camera','Digital camera with 24MP sensor and 4K record...,567
5,6,'Smartwatch','Fitness smartwatch with heart rate monitor',123

### Insert rows of data into inventory table

In [9]:
for index, row in df.iterrows():
    print(f"SKU = {row.SKU}, pname ={row.pname}, description = {row.description}, warehouse_num = {row.warehouse_num}")

SKU = 1, pname ='Smartphone', description = 'High-end smartphone with 6.2-inch display', warehouse_num = 123
SKU = 2, pname ='Laptop', description = 'Powerful laptop with Intel Core i7 processor', warehouse_num = 456
SKU = 3, pname ='Tablet', description = 'Lightweight tablet with long battery life', warehouse_num = 123
SKU = 4, pname ='Headphones', description = 'Wireless headphones with noise-cancellation', warehouse_num = 789
SKU = 5, pname ='Camera', description = 'Digital camera with 24MP sensor and 4K recording', warehouse_num = 567
SKU = 6, pname ='Smartwatch', description = 'Fitness smartwatch with heart rate monitor', warehouse_num = 123

In [10]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
    )
    session.execute(f"""
        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
    )

        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (1, 'Smartphone', 'High-end smartphone with 6.2-inch display', 123);


        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (2, 'Laptop', 'Powerful laptop with Intel Core i7 processor', 456);


        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (3, 'Tablet', 'Lightweight tablet with long battery life', 123);


        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (4, 'Headphones', 'Wireless headphones with noise-cancellation', 789);


        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (5, 'Camera', 'Digital camera with 24MP sensor and 4K recording', 567);


        INSERT INTO bd23.inventory (SKU, pname, description, warehouse_num)
        VALUES (6, 'Smartwatch', 'Fitness smartwatch with heart rate monitor', 123);

### Search for all products located at a given location (warehouse_num 123)

In [16]:
rows = session.execute("select (SKU, pname, description, warehouse_num) from bd23.inventory where warehouse_num = 123")
for row in rows:
    print(f"SKU={row[0][0]}, pname={row[0][1]}, description={row[0][2]}, warehouse_num={row[0][3]}")

SKU=1, pname=Smartphone, description=High-end smartphone with 6.2-inch display, warehouse_num=123
SKU=6, pname=Smartwatch, description=Fitness smartwatch with heart rate monitor, warehouse_num=123
SKU=3, pname=Tablet, description=Lightweight tablet with long battery life, warehouse_num=123